<%- include('./parts/header.ejs')%>
<%- include('./parts/nav.ejs')%>
<link rel="stylesheet" href="/css/allProductsDark.css">


  <div class="row products">
      <% products.forEach( product => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 product-card">
          <a href="/products/<%= product.category.slug %>/<%= product.slug %>" class="pa">
            <% if(product.images.length !== 0) { %>
              <img src="<%= product.images[0] %>" class="pimage">
            <% } else { %>
              <img src="/uploads/noimage2.png" class="pimage">
            <% } %>
          </a>
          <h3><%= product.title %></h3>
          <h4>$<%= product.price %></h4>
          <a href="/products/<%= product.category.slug %>/<%= product.slug %>" class="vd">View Details</a>
        </div>
      <% }) %>
  </div>

  
  <!-- Authentication Info -->
  <div class="row mt-4">
    <div class="col-12 text-center auth-links">
      <% if (user) { %>
        <p>You are logged in. <a href="/auth/logout">Logout</a></p>
      <% } else { %>
        <p>You are not logged in. <a href="/auth/login">Login</a> or <a href="/auth/signup">Register</a>.</p>
      <% } %>
    </div>
  </div>

<%- include('./parts/footer.ejs')%>