<%- include('./parts/header.ejs')%>
<%- include('./parts/nav.ejs')%>

<link rel="stylesheet" href="/css/tablePagesStyles.css">
<script src="/js/confirmDeletion.js" defer></script>
<script src="https://www.paypal.com/sdk/js?client-id=AUQrLxOt5gP4F_4xMplLBE1Ep5EyW1CTk6AzGE5BaKBVGJXoMdkKWdBAp23vq2l8FMxuVEQECybOgC6o&currency=USD"></script>

<% if(typeof cart !== "undefined" && cart.length > 0) { %>
    <div class="container mt-4">
        <h2 class="page-title text-center">My Cart</h2>
    </div>
    
    <br>
    
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0; %>
            <% cart.forEach( product => { %>
                <% let sub = Number(parseFloat(product.quantity * product.price).toFixed(2)); %>
                <% total += +sub %>
                <tr>
                    <td class="align-middle">
                        <img src="<%= product.image %>" alt="Product Image" class="product-image">
                    </td>
                    <td class="align-middle"><%= product.title  %></td>
                    <td class="align-middle">$<%= parseFloat(product.price).toFixed(2) %></td>
                    <td class="align-middle"><%= product.quantity %></td>
                    <td class="align-middle">
                        <a href="/cart/update/<%= product.slug %>?action=add" class="btn btn-sm btn-success">➕</a>
                        <a href="/cart/update/<%= product.slug %>?action=remove" class="btn btn-sm btn-warning">➖</a>
                        <a href="/cart/update/<%= product.slug %>?action=clear" class="btn btn-sm btn-danger">🗑️</a>
                    </td>
                    <td class="align-middle ps">$<%= sub %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <p class="total-price">Total: $<%= parseFloat(total).toFixed(2) %></p>
    
    <a href="/cart/clear" class="btn btn-danger delete-btn">Clear Cart</a>
    <form action="/cart/buynow" method="POST">
        <button type="submit" class="btn btn-primary buynow">Buy now</button>
    </form>
    

<% } else { %>
    <h3 class="text-center page-title text-primary">Your Cart Is Empty</h3>
<% } %>

<!-- Authentication Info -->
<div class="row mt-4">
    <div class="col-12 text-center auth-links">
        <% if (user) { %>
            <p>You are logged in. <a href="/auth/logout">Logout</a></p>
        <% } else { %>
            <p>You are not logged in. <a href="/auth/login">Login</a> or <a href="/auth/signup">Register</a>.</p>
        <% } %>
    </div>
</div>


<%- include('./parts/footer.ejs')%>
